# Visual Studio ve .NET geçici dosyaları
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.slnLaunch.json

# Derleme çıktıları
*.dll
*.exe
*.pdb
*.cache
*.log
*.apphost.exe

# NuGet Paketleri
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json

# Publish ve paketleme çıktıları
publish/
